{%extends 'home.html'%} {% block content%} {{method}} {% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
  </head>
  <body>
    <table width="100%" border="1">
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Actions</td>
      </tr>
      {%for intake in intakes%}
      <tr>
        <td>{{intake.id}}</td>
        <td>{{intake.intakename}}</td>
        <td>
          <a href="{%url 'deleteintake' intake.id %}">Delete</a>
          <a href="{%url 'updateintake' intake.id %}">Update</a>
        </td>
      </tr>

      {%endfor%}
    </table>
  </body>
</html>
{%endblock content%}
